// media queries for bigger screens not the other way around (mobile-first)
$posterRatio: 0.67;
$backdropRatio: 1.78;

@mixin banner-dimensions($banner-w) {
  width: $banner-w;
  height: calc($banner-w / $backdropRatio);
}

.banner-overlay {
  @include banner-dimensions(100vw);
  z-index: 0;
}

.backdrop-caption {
  position: relative;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-top: -5rem;
  height: 4rem;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.backdrop {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: no-repeat;
  background-size: cover;
}
