@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

// media queries for bigger screens not the other way around (mobile-first)
$posterRatio: 0.67;
$backdropRatio: 1.78;

@mixin banner-dimensions($banner-w) {
  width: $banner-w;
  height: calc($banner-w / $backdropRatio);
}

.banner-mobile-overlay {
  @include banner-dimensions(100%);
  z-index: 0;
  cursor: pointer;
}

.backdrop-caption {
  position: relative;
  padding-left: $title-padding;
  padding-bottom: 1rem;
  margin-top: -5rem;
  height: 4rem;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  @include dark-cell-gradient;
}

.backdrop {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: no-repeat;
  background-size: cover;
}

// Larger devices
@media (min-width: 767px) {
  .banner-mobile-overlay {
    display: none;
  }
}
