@use "../../styles/mixins";
@use "../../styles/variables";

// media queries for bigger screens not the other way around (mobile-first)
$posterRatio: 0.67;
$backdropRatio: 1.78;

@mixin banner-dimensions($banner-w) {
  width: $banner-w;
  height: calc($banner-w * $posterRatio);
}

.banner-mobile-overlay {
  @include banner-dimensions(100%);
  z-index: 0;
  cursor: pointer;
  margin-bottom: 1.4rem;
}

.backdrop-caption {
  position: relative;
  padding-left: variables.$title-padding;
  padding-bottom: 1rem;
  margin-top: -5rem;
  height: 5rem;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  @include mixins.dark-cell-gradient;
}

.backdrop {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

// Larger devices
@media (min-width: 767px) {
  .banner-mobile-overlay {
    display: none;
  }
}
