#root {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

#content {
  overflow-y: auto;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  width: 100%;
}
