@use "../styles/variables";

#root {
  background-color: variables.$theme-primary-color;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  color: white;
  overflow-x: hidden;
}

#content {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  min-width: 340px;
}

// Larger devices
@media (min-width: 767px) {
  #content {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
