#root {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  overflow-y: hidden;
}

#content {
  overflow-y: auto;
  margin-top: 4rem;
  height: 100%;
  width: 100%;
}