@use "../../styles/variables";
@use "sass:color";

#button {
  background: variables.$theme-yellow;
  color: black;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

#button:hover {
  background-color: color.adjust(
    $color: variables.$theme-yellow,
    $lightness: -20%
  );
}
