@import "../../styles/variables.scss";

.movie-details {
  width: 100%;
  .backdrop {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
  }

  .content-wrapper {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    margin-top: -150px;
    position: relative;
    z-index: 5;
  }

  @media (max-width: 900px) {
    .content-wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: -300px;
    }
    .poster {
      img {
        min-width: 30vw;
        max-width: 20rem;
      }
    }
  }

  .poster {
    img {
      max-height: 60vh;
      border-radius: 12px;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.6);
    }
  }

  .info {
    flex: 1;

    h1 {
      margin-top: 0;
      font-size: 2.5rem;
    }

    .meta {
      margin: 0.5rem 0 1rem;
      font-weight: bold;
      display: flex;
      gap: 0.5rem;
    }

    .genres {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;
      color: black;
      font-weight: bold;
      span {
        background: $theme-bonus-color;
        padding: 0.3rem 0.6rem;
        border-radius: 6px;
        font-size: 0.9rem;
      }
    }

    .overview {
      line-height: 1.6;
      margin-bottom: 2rem;
      color: #ddd;
    }

    .stats {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      .stat-item {
        min-width: 150px;

        h3 {
          margin: 0 0 0.3rem;
        }

        p {
          margin: 0;
          color: #ccc;
        }
      }
    }

    .production {
      h2 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        li {
          display: flex;
          align-items: center;
          gap: 0.7rem;

          img {
            height: 28px;
            object-fit: contain;
            background: #fff;
            padding: 4px;
            border-radius: 4px;
          }

          span {
            color: #ddd;
          }
        }
      }
    }
  }
}
