#not-found {
  height: 90vh;
  width: 100%;
  font-size: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .message {
    text-align: center;
    max-width: 80vw;
    margin-bottom: 1.3rem;
  }
}

@media (max-width: 480px) {
  .message {
    font-size: 2rem;
  }
}

// Medium devices
@media (min-width: 480px) and (max-width: 767px) {
  .message {
    font-size: 2.3rem;
  }
}

// Larger devices
@media (min-width: 767px) {
  .message {
    font-size: 2.8rem;
  }
}
