@import "../../styles/variables.scss";

.header {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 1.4rem;
  box-sizing: border-box;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#website-title {
  font-size: 2rem;
  color: $theme-bonus-color;
  cursor: pointer;
  text-decoration: none;
}
