@use "../../styles/variables";

.header {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 1.4rem;
  box-sizing: border-box;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
}

#website-title {
  font-size: 2rem;
  color: variables.$theme-yellow;
  cursor: pointer;
  text-decoration: none;
}
