@mixin carousel-cell-dimensions($carousel-w) {
  width: $carousel-w;
  height: calc(1.7 * $carousel-w);
}

.flickity-page-dots {
  display: none;
}

.carousel-title {
  font-size: 1.6rem;
  padding: 1rem;
}

.carousel-cell {
  @include carousel-cell-dimensions(11rem);
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.carousel-cell img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}

.carousel-cell:hover {
  opacity: 0.9;
}

// .carousel-cell.is-selected {}

.title {
  margin-top: 0.8rem;
  font-size: large;
  height: 3rem;
}

// Small devices
@media (max-width: 480px) {
  .carousel-cell {
    @include carousel-cell-dimensions(10rem);
    min-width: 8rem;
  }
}

// Medium devices
@media (min-width: 480px) and (max-width: 767px) {
  .carousel {
    height: 25rem;
  }
  .carousel-cell {
    @include carousel-cell-dimensions(11rem);
    min-width: 8rem;
  }
}

// // Larger devices
@media (min-width: 767px) {
  .flickity-page-dots {
    display: flex;
  }
}
