
.carousel {
  // background: #EEE;
  height:18rem;
  margin-bottom: 3rem;
}

.carousel-title {
  font-size: 1.6rem;
  padding:.6rem;
}

.carousel-cell {
  height:18rem;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.poster {
  height: 90%;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size:90% 100% !important;
}

.carousel-cell:hover {
  opacity: 0.9;
}

// .carousel-cell.is-selected {}

.title {
  margin-top: .8rem;
  
}


// Small devices
@media (max-width: 480px) {
  .flickity-page-dots {
    display: none;
  }
  .carousel-cell {
    width: 80%;
  }
}

// Medium devices
@media (min-width: 480px) and (max-width: 767px) {
  .carousel-cell {
    width: 33%;
  }
}

// Larger devices
@media (min-width: 767px) {
  .carousel-cell {
    width:16%;
    min-width: 14rem;
  }
}