@use "sass:color";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.flickity-button-icon {
  &:focus {
    outline: $theme-bonus-color;
  }
}

.flickity-page-dots {
  display: none;
}

.carousel-title {
  font-size: 1.6rem;
  padding: 2rem 0rem 2rem $title-padding;
}

.flickity-page-dots {
  display: flex;
  button {
    background-color: color.adjust($flickity-dot-color, $lightness: -50%);
  }
  .is-selected {
    background-color: $flickity-dot-color;
  }
}

.carousel-cell {
  @include carousel-cell-dimensions(11rem);
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.carousel-cell img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}

.carousel-cell:hover {
  opacity: 0.9;
}

.title {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

// Small devices
@media (max-width: 480px) {
  .carousel-cell {
    @include carousel-cell-dimensions(10rem);
    min-width: 8rem;
  }
}

@media (max-width: 767px) {
  .carousel-title {
    padding: 1rem;
  }
  .flickity-page-dots {
    display: none;
  }
}
// Medium devices
@media (min-width: 480px) and (max-width: 767px) {
  .carousel-cell {
    @include carousel-cell-dimensions(11rem);
    min-width: 8rem;
  }
}

// // Larger devices
@media (min-width: 767px) {
  .flickity-page-dots {
    display: flex;
  }
}
