@import "../../styles/variables.scss";

.footer {
  // background-color: beige;
  width: 100%;
  height: 16rem;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  #footer-title {
    font-size: 1rem;
  }
}
