.details-error-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-error-content {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .error-message,
  .default-message {
    margin-bottom: 1.3rem;
  }
  .error-message {
    font-style: italic;
  }
}

// Small devices
@media (max-width: 480px) {
  .error-message {
    font-size: 1.2rem;
  }
  .details-error-content {
    width: 90vw;
    span {
      text-align: center;
    }
  }
}

// Medium devices
@media (min-width: 480px) and (max-width: 767px) {
  .error-message {
    font-size: 1.6rem;
  }
  .details-error-content {
    width: 70vw;
  }
}

// Larger devices
@media (min-width: 767px) {
  .details-error-content {
    width: 60vw;
  }
  .error-message {
    font-size: 1.8rem;
  }
}
