.details-error-root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-error-content {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


// Small devices
@media (max-width: 480px) {
  .details-error-content {
  width: 90vw;
  }
}

// Medium devices
@media (min-width: 480px) and (max-width: 767px) {
  .details-error-content {
    width: 70vw;
  }
}

// Larger devices
@media (min-width: 767px) {
  .details-error-content {
    width: 60vw;
  }
}