@import "../../styles/mixins.scss";

.web-top-carousel {
  max-height: 55vh;
}

.web-top-carousel {
  display: none;
}

#web-cell {
  @include carousel-cell-dimensions(80vw);
}

// Larger devices
@media (min-width: 900px) {
  #web-cell {
    @include carousel-cell-dimensions(74vw);
  }
}
// Larger devices
@media (min-width: 1280px) {
  #web-cell {
    @include carousel-cell-dimensions(44vw);
  }
}

@media (min-width: 767px) {
  #web-cell {
    max-height: 55vh;
  }
  .web-top-carousel {
    display: block;
  }
}

.web-top-carousel .flickity-page-dots {
  display: none;
}

.carousel-backdrop-caption {
  @include dark-cell-gradient;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  height: 7rem;
  width: 100%;
  color: white;
  margin-top: -7rem;
  font-size: 2rem;
}
